/* ESTILO GERAL DO SITE */
* {
    margin: 0;
    box-sizing: border-box;
}

/* ESTILO DO HEADER */
header {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & img {
        width: 50px;
        height: 50px;

    }
}

/* ESTILO DA NAVEGAÇÃO */
.menu-options {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    ul {
        width: 30%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            a {
                text-decoration: none;
                color: #333;
                font-weight: bold;
            }
            a:hover {
                color: rgb(126, 126, 125);
            }
        }
    }
}

/* ESTILO DA CARD MAIN */
.main-content {
    width: 100vw;
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    * {
        margin: 10px;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #fff;
        img {
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
    }
}

/* ESTILO DA TROCA DE COR */
#color01 {
    background-color: #3d7515;
}
#color02 {
    background-color: #6e0975;
}

/* ESTILO DO FOOTER */
footer {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    
    img {
        width: 20px;
        height: 20px;
    }
}